<div class="pos-f-t">
    <div class="collapse" id="navbarToggleExternalContent">
      <div class="bg-dark p-4">
        <h5 class="text-white h4">Collapsed content</h5>
        <span class="text-muted">Toggleable via the navbar brand.</span>
      </div>
    </div>
    <nav class="navbar navbar-dark bg-dark">
      <button class="navbar-toggler"  type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="color" > Inventory Management&nbsp; </span>
        <span class="navbar-toggler-icon"></span>

      </button>

      <div class="chip dropdown-toggle" ngbDropdownToggle class="nav-notification-icons pt-0">
        <!-- <img src="assets/images/images.png" class="user_img" width="32" height="32" alt="User"> -->
        <i class="fa fa-user-circle" style="color: white" aria-hidden="true"></i> &nbsp;
       <span class="color" >Admin</span>
      </div>
    </nav>
  </div>

