
  <h3><span>Change your password here....</span></h3>
<form [formGroup]="changePasswordForm">
    <div class="d-flex">
        <div class="col-lg-11 p-0">
            <div class="row d-flex col-lg-12 m-0 p-0">
                <div class="col-lg-12 p-2">
                    <label>Current Password <span class="mandatory">*</span></label>
                    <input class="form-control"  formControlName="currentPassword" placeholder="Enter Current Passowrd">
                </div>
                <div class="col-lg-12 p-2">
                    <label>New Password <span class="mandatory">*</span></label>
                    <input class="form-control"  formControlName="newPassword" placeholder="Enter New Passowrd">
                </div>
            </div>
            <button class="save-button float-right" (click)="submit()">Submit</button>
        </div>
    </div>
</form>