/* You can add global styles to this file, and also import other style files */
// @import '~@swimlane/ngx-datatable/release/index.css';
@import '~@swimlane/ngx-datatable/release/themes/material.css';
@import '~@swimlane/ngx-datatable/release/assets/icons.css';
@import '~ngx-toastr/toastr';




html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.form-control
{
    height: unset!important;
    font-size: unset!important;
}
.btn
{
    font-size: 14px !important;
}
.mat-drawer-content {
    position: relative;
    z-index: 1;
    display: block;
    height: 100%;
    overflow-x: hidden !important;
}
.mat-menu-item {
    outline: none !important;
}

